// .caveat {
//   font-family: Caveat;
//   font-size: 30px;
//   margin-bottom: 30px;
//   font-weight: bold;
// }

.top-menu {
  height: 80px;
  padding: 15px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  background: #fff;
  height: auto;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 60%;
    margin: 0;
  }

  &__item {
    list-style: none;

    a {
      @extend %border;
      font-weight: 600;
      font-size: 22px;
      color: #000;
      transition: all 0.8s;
      padding: 5px;

      &:hover {
        text-decoration: none;
        background: $btn-color;
        transition: all 1s;
      }
    }
  }

  &__call {
    display: block;

    img {
      transform: rotate(145deg);
      transition: all 1s;
      width: 40px;

      &:hover {
        transform: rotate(165deg);
        transition: all 1s;
      }
    }
  }
}

.logo {
  display: block;
  height: 100%;
  width: 100px;

  img {
    width: 100%;
  }
}

.top-menu__nav-wrap {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-banner {
  background: url("../img/main/13.jpg")center no-repeat;
  background-size: cover;
  height: 600px;

  h1 {
    font-family: Caveat;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
  }
}

.top-banner__cover {
  background: rgba(0, 0, 0, 0.44);
  height: 100%;
}

.title {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 60px;
}

.title__white {
  color: #fff;
}

.indents {
  padding: 0 90px;
}

.projects__double {
  position: relative;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.projects {
  margin-bottom: 100px;

  &__info {
    // position: absolute;
    width: 35%;
    color: #fff;
    padding: 35px 20px 35px 40px;

    p {
      font-size: 20px;
    }
  }

  &__slider {
    width: 50%;
    overflow: hidden;
  }
}

.btn {
  @extend %border;
  display: inline-block;
  background: $btn-color;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 600;
  color: $primary-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.02);
    transition: all 0.5s;
    color: $primary-color;
    text-decoration: none;
  }
}

.projects__btn {
  margin-top: 20px;
}

.projects__slide-item {
  position: relative;
  width: 100%;
  height: 354px;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

.description {
  color: #fff;
  font-size: 20px;
}

.services {
  &__wrap {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  &__item {
    @extend %border;
    background: #fff;
    padding: 30px;
    color: #000;
    height: 434px;

    .description {
      line-height: 29px;
    }
  }

  &__label {
    color: $primary-color !important;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.color-black {
  color: $primary-color;
}

.btn-black {
  background: $primary-color;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.services__btn {
  font-size: 18px;
}

.arrows {
  color: $primary-color !important;
  top: 54%;

  svg {
    width: 20px;
  }
}

.services__descr-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;

  .description {
    width: 40%;
  }

  .btn {
    height: 30px;
    width: 28.5%;
  }
}

#pulsing {
  -webkit-animation: pulses 3s infinite ease-in-out;
  -o-animation: pulses 3s infinite ease-in-out;
  -ms-animation: pulses 3s infinite ease-in-out;
  -moz-animation: pulses 3s infinite ease-in-out;
  animation: pulses 3s infinite ease-in-out;
}
@-webkit-keyframes pulses {
  0% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }

  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }
}
@keyframes pulses {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

.modal-medium {
  width: 50%;
}

.modal__description {
  font-size: 20px;
}

.list {
  font-size: 20px;
  line-height: 26px;
}

.contacts__form {
  background: #fff;
  color: $primary-color;
  width: 40%;
  margin-top: 100px;
  padding: 60px 40px;
}

.contacts__title {
  color: $primary-color !important;
}

.contacts__paralax {
  min-height: 600px;
}

.contacts__link {
  color: $primary-color !important;
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.contacts__row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  span {
    margin-right: 15px;
    padding-top: 5px;
  }
}

.card-img-cover {
  position: relative;
  height: 400px;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

.services__wrap {
  .uk-card-default {
    height: 100%;
  }
}

.footer {
  background: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
}

.timel-wrap {
  display: flex;
  align-items: center;

  span {
    margin-right: 13px;
  }
}

.timel {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;

  img {
    width: 50px;
    height: 50px;
  }

  &:hover {
    color: #fff;
  }
}